﻿@page
@model Rosie.Pages.TelegramUsers.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<h4>Telegram User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TelegramUser.UserId" />
            <div class="form-group">
                <label asp-for="TelegramUser.FirstName" class="control-label"></label>
                <input asp-for="TelegramUser.FirstName" class="form-control" />
                <span asp-validation-for="TelegramUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelegramUser.LastName" class="control-label"></label>
                <input asp-for="TelegramUser.LastName" class="form-control" />
                <span asp-validation-for="TelegramUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelegramUser.IsAllowed" class="control-label"></label>
                <input asp-for="TelegramUser.IsAllowed" type="checkbox" class="form-control" />
                <span asp-validation-for="TelegramUser.IsAllowed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}