﻿@page
@model Rosie.Pages.TelegramUsers.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-info">Telegram Users</h1>
<h2 class="text-info">Manage the users</h2>

<form method="post">
    <div class="container">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Users[0].Username)</th>
                    <th>@Html.DisplayNameFor(model => model.Users[0].FirstName)</th>
                    <th>@Html.DisplayNameFor(model => model.Users[0].LastName)</th>
                    <th>@Html.DisplayNameFor(model => model.Users[0].Language)</th>
                    <th>@Html.DisplayNameFor(model => model.Users[0].IsAllowed)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td><a asp-page="./Edit" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.Username)</a></td>
                        <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                        <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Language)</td>
                        <td>@Html.DisplayFor(modelItem => item.IsAllowed)</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>
