@page
@model FirstRunModel
@{
    ViewData["Title"] = "Application First Run";
}

<h1 class="text-info">Setup</h1>
<h2 class="text-info">Welcome to setup page!</h2>

<form method="post">
    <div class="container">
        <h5>Basics</h5>

        <div class="form-group row">
            <label for="ownerName" class="col-sm-2 col-form-label">Owner Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" aria-describedby="ownerHelp" placeholder="Enter name" asp-for="SiteConfig.OwnerName" />
            </div>
        </div>

        <div class="form-group row">
            <label for="ownerMail" class="col-sm-2 col-form-label">Owner Mail</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email" asp-for="SiteConfig.OwnerMail">
            </div>
        </div>
                
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Use Proxy</label>
            <div class="col-sm-1">
                <input type="checkbox" class="form-control" aria-describedby="useProxyHelp" asp-for="SiteConfig.UseProxy">
            </div>
        </div>
    </div>

    <div class="container">
        <h5>Auth0</h5>

        <div class="form-group row">
            <label for="ownerName" class="col-sm-2 col-form-label">Auth0 Domain</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" aria-describedby="auth0DomainHelp" placeholder="Enter Auth0 Domain" asp-for="SiteConfig.Auth0.Domain" />
            </div>
        </div>
        <div class="form-group row">
            <label for="ownerMail" class="col-sm-2 col-form-label">Auth0 Audience</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" aria-describedby="auth0AudienceHelp" placeholder="Enter Auth0 Audience" asp-for="SiteConfig.Auth0.Audience">
            </div>
        </div>
    </div>

    <div class="container">
        <h5>Telegram</h5>

        <div class="form-group row">
            <label for="ownerName" class="col-sm-2 col-form-label">Bot Token</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" aria-describedby="botTokenHelp" placeholder="Enter Bot Token" asp-for="SiteConfig.TelegramBot.Token" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form-group row">
            <div class="col align-self-end">
                <input type="submit" class="btn btn-primary mb-2" value="Save" />
            </div>
        </div>
    </div>
</form>
